<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.BooksMapper">

<select id="selectAll" resultType="Books">
SELECT
id,book_name,author,
score,catch_copy, point_first,
point_second,point_third,review,buy_link,img
FROM my_books;
</select>

<insert id="addBooks" parameterType="com.example.app.domain.Books">
	INSERT INTO my_books (book_name, author, score, catch_copy, point_first, point_second,point_third,review,buy_link,img,user_id)
	VALUES (#{bookName}, #{author}, #{score}, #{catchCopy}, #{pointFirst},#{pointSecond},#{pointThird},#{review},#{buyLink},#{img},#{userId})
</insert>

<select id="selectById" parameterType="int" resultType="Books">
SELECT
id,book_name,author,
score,catch_copy, point_first,
point_second,point_third,review,buy_link,img
FROM my_books
WHERE my_books.id = #{id}
</select>

</mapper>