<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.BooksMapper">

<select id="selectAll" resultType="Books">
SELECT
id,book_name,author,
score,catch_copy, point_first,
point_second,point_third,review,buy_link,img
FROM my_books;
</select>

<insert id="addBooks" parameterType="com.example.app.domain.Books">
	INSERT INTO my_books (user_id,book_name, author, score, catch_copy, point_first, point_second,point_third,review,buy_link,img)
	VALUES (#{userId},#{bookName}, #{author}, #{score}, #{catchCopy}, #{pointFirst},#{pointSecond},#{pointThird},#{review},#{buyLink},#{img})
</insert>

<select id="searchBooks" parameterType="String" resultType="Books">
    SELECT * FROM my_books
    WHERE book_name LIKE CONCAT('%', #{keyword}, '%') OR author LIKE CONCAT('%', #{keyword}, '%')
</select>

<select id="selectById" parameterType="int" resultType="Books">
SELECT
id,user_id,book_name,author,
score,catch_copy, point_first,
point_second,point_third,review,buy_link,img
FROM my_books
WHERE my_books.id = #{id}
</select>

<select id="randomById" resultType="Books">
SELECT * FROM my_books ORDER BY RAND() LIMIT 1;
</select>

<select id="selectByUserId" resultType="Books">
    SELECT
    id, book_name, author,
    score, catch_copy, point_first,
    point_second, point_third, review, buy_link, img
    FROM my_books
    WHERE user_id = #{userId};
</select>

<delete id="BookDeleteById">
DELETE FROM my_books WHERE my_books.id = #{id};
</delete>

<update id="updateBooks" parameterType="com.example.app.domain.Books">
    UPDATE my_books
    SET
        book_name = #{bookName},
        author = #{author},
        score = #{score},
        catch_copy = #{catchCopy},
        point_first = #{pointFirst},
        point_second = #{pointSecond},
        point_third = #{pointThird},
        review = #{review},
        buy_link = #{buyLink},
        img = #{img}
    WHERE my_books.id = #{id}
</update>

</mapper>