<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.MemberMapper">

	<insert id="addMember"
		parameterType="com.example.app.domain.Member">
		INSERT INTO members (user_id, password, name, gender, emall)
		VALUES (#{userId}, #{password}, #{name}, #{gender}, #{email})
	</insert>

	<select id="selectByLoginId" resultType="Member">
		SELECT * FROM members WHERE user_id = #{userId}
	</select>

</mapper>